**/__pycache__/
**/.pytest_cache/
*.egg-info/
.tox/
.vscode/
.VSCodeCounter/
windmill-project/
.windmill-temp-project/
.python-version

# Ignore top level dist created by Poetry 
dist/*

# Ignore node modules
node_modules/

# if running nodeenv to manage node, ignore its env folder
env/
.DS_Store
windmill/http/app/package-lock.json
windmill/http/app/package-lock.json
