[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "<=5.0.1"
black = "*"

[packages]
apache-airflow = {version = "==1.10.4", extras=["devel_all"]}
marshmallow = "*"
docstring-parser = "*"

[requires]
python_version = "3.6.9"

[pipenv]
allow_prereleases = true
